.root {
    -fx-background-color: linear-gradient(to bottom, #000000 0%, #1a1a1a 100%);
}

/* Puntuación */
.score-label {
    -fx-text-fill: #39FF14; /* Verde neón */
    -fx-font-size: 18px;
    -fx-font-family: "Consolas";
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, #39FF14, 10, 0.8, 0, 1);
}

/* Título principal */
.title-label {
    -fx-text-fill: #FF6600;
    -fx-font-size: 50px;
    -fx-font-family: "Consolas";
    -fx-effect: dropshadow(gaussian, #FF6600, 10, 0.6, 0, 1);
}

/* Botón de inicio estilo arcade */
.start-button {
    -fx-background-color: linear-gradient(to bottom, #FF6A00, #FF3300);
    -fx-text-fill: black;
    -fx-font-family: "Consolas";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-padding: 10 25;
    -fx-effect: dropshadow(gaussian, #FF6600, 12, 0.5, 0, 2);
    -fx-cursor: hand;
}

.start-button:hover {
    -fx-background-color: linear-gradient(to bottom, #FF944D, #FF3300);
}

/* Icono de serpientes */
.emoji-logo {
    -fx-background-radius: 100%;
    -fx-background-color: rgba(255, 255, 255, 0.07);
    -fx-padding: 25;
    -fx-effect: dropshadow(gaussian, #FF6600, 15, 0.6, 0, 2);
}

.emoji-icon {
    -fx-font-size: 50px;
    -fx-text-fill: #FF6600;
}

/* Pantalla de Game Over */
.game-over-label {
    -fx-text-fill: red;
    -fx-font-size: 60px;
    -fx-font-family: "Consolas";
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, red, 10, 0.9, 0, 2);
}
