.textFieldUser{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-family: "Gloucester MT Extra Condensed";
    -fx-text-fill: #F1EFEC;
    -fx-border-width: 0px;
    -fx-border-radius: 0px;
    -fx-font-size: 30px;
    -fx-padding: 0px;
}

.textFieldTitle{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-family: "Gloucester MT Extra Condensed";
    -fx-text-fill: White;
    -fx-border-width: 0px;
    -fx-border-radius: 0px;
    -fx-font-size: 30px;
    -fx-padding: 0px;
}
.textFieldUserName{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-family: "Gloucester MT Extra Condensed";
    -fx-text-fill: #D7B26D;
    -fx-border-width: 0px;
    -fx-border-radius: 0px;
    -fx-font-size: 30px;
    -fx-padding: 0px;
}

.toggleButton{
    -fx-background-color : white;
    -fx-border-color : white;
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-font-family: "Gloucester MT Extra Condensed";
}

.toggleButton:hover {
    -fx-background-color: white;
    -fx-text-fill : #255F38;
}

.makeReservationButton{
    -fx-background-color : transparent;
    -fx-border-color : transparent;
    -fx-text-fill: #D4C9BE;
    -fx-font-size: 25px;
    -fx-font-family: "Gloucester MT Extra Condensed";
}

.makeReservationButton:hover {
    -fx-background-color: white;
    -fx-text-fill : #255F38;
}
